.collapse-sidebar-label {
	display: none !important;
}

.concurrency-locked {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

#concurrent-users {
	bottom: 6px;
	padding-left: 40px;
	position: absolute;
	right: 14px;
	z-index: 10000000;
}

#concurrent-users img {
	height: 18px;
	margin: 0 0 4px 4px;
	width: 18px;
}
