.notice-concurrency_conflict .button {
	float: right;
}

.notice-concurrency_conflict .button .dashicons-thumbs-down {
	line-height: 28px;
}

.notice-concurrency_conflict .button .dashicons-thumbs-up {
	line-height: 24px;
}

.notice-concurrency_conflict i {
	color: #999999;
}